## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
# Your code here
sample_list_1 = []

for i in range(0,80):
    x = random.randint(0,100)
    sample_list_1.append(x)

print("List of 80 random numbers between 0 and 100:", sample_list_1)
print("Length of the list:", len(sample_list_1))

List of 80 random numbers between 0 and 100: [45, 21, 44, 97, 78, 53, 40, 82, 72, 14, 99, 2, 10, 43, 26, 30, 88, 12, 6, 35, 96, 83, 98, 62, 69, 95, 15, 35, 43, 17, 42, 64, 18, 52, 34, 72, 48, 3, 69, 0, 9, 45, 52, 45, 19, 0, 32, 82, 78, 75, 11, 45, 53, 57, 34, 0, 56, 42, 80, 95, 91, 37, 93, 29, 44, 87, 5, 70, 29, 76, 36, 4, 89, 97, 48, 95, 7, 69, 37, 53]
Length of the list: 80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
sample_list_1 = set(sample_list_1)
print("set1=", set(sample_list_1))
print("Length of the set:", len(set(sample_list_1)))

set1= {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
Length of the set: 56

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
# Your code here
sample_list_2 = []

for i in range(0,80):
    x = random.randint(0,100)
    sample_list_2.append(x)

print("List of 80 random numbers between 0 and 100:", sample_list_2)
print("Length of the list:", len(sample_list_2))

List of 80 random numbers between 0 and 100: [85, 4, 84, 13, 99, 23, 6, 52, 64, 90, 1, 95, 47, 5, 69, 23, 59, 16, 66, 53, 38, 6, 80, 72, 38, 69, 33, 37, 74, 52, 86, 91, 87, 74, 31, 17, 85, 74, 32, 24, 65, 96, 65, 65, 28, 53, 34, 100, 68, 29, 56, 37, 3, 66, 18, 32, 56, 94, 56, 84, 97, 85, 12, 86, 76, 27, 33, 73, 25, 96, 31, 32, 8, 42, 32, 21, 65, 43, 49, 84]
Length of the list: 80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
sample_list_2 = set(sample_list_2)
print("set2=", set(sample_list_2))
print("Length of the set:", len(set(sample_list_2)))

set2= {1, 3, 4, 5, 6, 8, 12, 13, 16, 17, 18, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 37, 38, 42, 43, 47, 49, 52, 53, 56, 59, 64, 65, 66, 68, 69, 72, 73, 74, 76, 80, 84, 85, 86, 87, 90, 91, 94, 95, 96, 97, 99, 100}
Length of the set: 54

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
# Your code here
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set2 = {1, 3, 4, 5, 6, 8, 12, 13, 16, 17, 18, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 37, 38, 42, 43, 47, 49, 52, 53, 56, 59, 64, 65, 66, 68, 69, 72, 73, 74, 76, 80, 84, 85, 86, 87, 90, 91, 94, 95, 96, 97, 99, 100}

set3 = set1.difference(set2) 

print("set3=",set3)

set3= {0, 2, 7, 9, 10, 11, 14, 15, 19, 26, 30, 35, 36, 40, 44, 45, 48, 57, 62, 70, 75, 78, 82, 83, 88, 89, 93, 98}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [21]:
# Your code here
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set2 = {1, 3, 4, 5, 6, 8, 12, 13, 16, 17, 18, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 37, 38, 42, 43, 47, 49, 52, 53, 56, 59, 64, 65, 66, 68, 69, 72, 73, 74, 76, 80, 84, 85, 86, 87, 90, 91, 94, 95, 96, 97, 99, 100}

set4 = set2.difference(set1) 

print("set4=",set4)

set4= {1, 8, 13, 16, 23, 24, 25, 27, 28, 31, 33, 38, 47, 49, 59, 65, 66, 68, 73, 74, 84, 85, 86, 90, 94, 100}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [23]:
# Your code here
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set2 = {1, 3, 4, 5, 6, 8, 12, 13, 16, 17, 18, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 37, 38, 42, 43, 47, 49, 52, 53, 56, 59, 64, 65, 66, 68, 69, 72, 73, 74, 76, 80, 84, 85, 86, 87, 90, 91, 94, 95, 96, 97, 99, 100}
set5 = set1.intersection(set2) 
print("set5=",set5)

set5= {3, 4, 5, 6, 12, 17, 18, 21, 29, 32, 34, 37, 42, 43, 52, 53, 56, 64, 69, 72, 76, 80, 87, 91, 95, 96, 97, 99}

#### 8 - Create an empty set called `set6`.

In [24]:
# Your code here
set6= {}

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# Your code here
set3= {0, 2, 7, 9, 10, 11, 14, 15, 19, 26, 30, 35, 36, 40, 44, 45, 48, 57, 62, 70, 75, 78, 82, 83, 88, 89, 93, 98}
set5= {3, 4, 5, 6, 12, 17, 18, 21, 29, 32, 34, 37, 42, 43, 52, 53, 56, 64, 69, 72, 76, 80, 87, 91, 95, 96, 97, 99}
set6 = set3.union(set5) 
print("set6=", set6)

set6= {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [26]:
# Your code here
set1==set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
# Your code here
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set2 = {1, 3, 4, 5, 6, 8, 12, 13, 16, 17, 18, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 37, 38, 42, 43, 47, 49, 52, 53, 56, 59, 64, 65, 66, 68, 69, 72, 73, 74, 76, 80, 84, 85, 86, 87, 90, 91, 94, 95, 96, 97, 99, 100}
set1_2 = set1.issubset(set2) 
print("set1 contains set2:", set1_2)

set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set3= {0, 2, 7, 9, 10, 11, 14, 15, 19, 26, 30, 35, 36, 40, 44, 45, 48, 57, 62, 70, 75, 78, 82, 83, 88, 89, 93, 98}
set1_3=set1.issubset(set3)
print("set1 contains set3:", set1_3)

set1 contains set2: False
set1 contains set3: False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [35]:
# Your code here
set3= {0, 2, 7, 9, 10, 11, 14, 15, 19, 26, 30, 35, 36, 40, 44, 45, 48, 57, 62, 70, 75, 78, 82, 83, 88, 89, 93, 98}
set4= {1, 8, 13, 16, 23, 24, 25, 27, 28, 31, 33, 38, 47, 49, 59, 65, 66, 68, 73, 74, 84, 85, 86, 90, 94, 100}
set5= {3, 4, 5, 6, 12, 17, 18, 21, 29, 32, 34, 37, 42, 43, 52, 53, 56, 64, 69, 72, 76, 80, 87, 91, 95, 96, 97, 99}
set345 = set3.union(set4, set5) 
print("Aggregated values of set 3, set4 and set5=", set345) 
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set2 = {1, 3, 4, 5, 6, 8, 12, 13, 16, 17, 18, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 37, 38, 42, 43, 47, 49, 52, 53, 56, 59, 64, 65, 66, 68, 69, 72, 73, 74, 76, 80, 84, 85, 86, 87, 90, 91, 94, 95, 96, 97, 99, 100}
set_12=set1.union(set2)
print("Aggregated values of set1 and set2=", set_12)
set345==set_12

Aggregated values of set 3, set4 and set5= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 49, 52, 53, 56, 57, 59, 62, 64, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
Aggregated values of set1 and set2= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 49, 52, 53, 56, 57, 59, 62, 64, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [50]:
# Your code here
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}

print(set1.pop())
print("set 1 after pop first element:", set1)

0
set 1 after pop first element: {2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [44]:
# Your code here
set1 = {0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 26, 29, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 69, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99}
set1.discard(1)
set1.discard(9)
set1.discard(11)
set1.discard(19)
set1.discard(21)
set1.discard(29)
set1.discard(31)
set1.discard(39)
set1.discard(41)
set1.discard(49)
set1.discard(51)
set1.discard(59)
set1.discard(61)
set1.discard(69)
set1.discard(71)
set1.discard(79)
set1.discard(81)
set1.discard(89)
set1.discard(91)
set1.discard(99)
print ("set1 without numbers removed:", set1)

set1 without numbers removed: {0, 2, 3, 4, 5, 6, 7, 10, 12, 14, 15, 17, 18, 26, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 48, 52, 53, 56, 57, 62, 64, 70, 72, 75, 76, 78, 80, 82, 83, 87, 88, 93, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [53]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [54]:
# Your code here
father_set=set(father_list)
print("Father set:",father_set)
Jo_set=set(Jo_list)
print("Jo Set", Jo_set)
Carlos_set=set(Carlos_list)
print("Carlos set:", Carlos_set)

Father set: {'yogurt', 'gums', 'cucumber', 'toilet paper', 'flour', 'watermelon', 'garlic', 'onions'}
Jo Set {'watermelon', 'yogurt', 'tomatoes', 'cucumber', 'sugar', 'milk', 'juice', 'blueberries', 'gums', 'garlic', 'onions'}
Carlos set: {'cherries', 'water', 'toilet paper', 'flour', 'blueberries', 'tomatoes', 'garlic', 'onions'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [56]:
# Your code here
Mathia_set=Carlos_set.symmetric_difference(Jo_set)
print("Mathia set:", Mathia_set)

Mathia set: {'watermelon', 'yogurt', 'cherries', 'water', 'cucumber', 'sugar', 'milk', 'toilet paper', 'flour', 'juice', 'gums'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [51]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print("Mother list:", mother_list)

The Mother list: ['yogurt', 'flour', 'tomatoes', 'bread', 'blueberries', 'watermelon', 'gums', 'bread', 'deodorant', 'shampoo']

In [59]:
# Your code here
mother_list = ['yogurt', 'flour', 'tomatoes', 'bread', 'blueberries', 'watermelon', 'gums', 'bread', 'deodorant', 'shampoo']
mother_set=set(mother_list)
print("Mother set:", mother_set)

Mother set: {'yogurt', 'watermelon', 'gums', 'bread', 'deodorant', 'flour', 'blueberries', 'tomatoes', 'shampoo'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [63]:
# Your code here
father_set.discard('toilet paper')
mother_set.discard('toilet paper')
Mathia_set.discard('toilet paper')
Jo_set.discard('toilet paper')
Carlos_set.discard('toilet paper')
print("father_set=", father_set)
print("mother_set=", mother_set)
print("Mathia_set=", Mathia_set)
print("Jo_set=", Jo_set)
print("Carlos_set=", Carlos_set)

father_set= {'yogurt', 'gums', 'cucumber', 'flour', 'watermelon', 'garlic', 'onions'}
mother_set= {'yogurt', 'watermelon', 'gums', 'bread', 'deodorant', 'flour', 'blueberries', 'tomatoes', 'shampoo'}
Mathia_set= {'watermelon', 'yogurt', 'cherries', 'water', 'cucumber', 'sugar', 'milk', 'flour', 'juice', 'gums'}
Jo_set= {'watermelon', 'yogurt', 'tomatoes', 'cucumber', 'sugar', 'milk', 'juice', 'blueberries', 'gums', 'garlic', 'onions'}
Carlos_set= {'cherries', 'water', 'flour', 'blueberries', 'tomatoes', 'garlic', 'onions'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [68]:
# Your code here
fmother_set=father_set.union(mother_set)
MaJo_set=Mathia_set.union(Jo_set)
fmother_Majo_set=fmother_set.union(MaJo_set)
groceries_needed_set= fmother_Majo_set.union(Carlos_set)
print("Grocieres needed:", groceries_needed_set)

Grocieres needed: {'yogurt', 'deodorant', 'flour', 'blueberries', 'onions', 'shampoo', 'watermelon', 'tomatoes', 'cherries', 'bread', 'water', 'cucumber', 'sugar', 'milk', 'juice', 'gums', 'garlic'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [75]:
# Your code here
groceries_needed_set= {'yogurt', 'deodorant', 'flour', 'blueberries', 'onions', 'shampoo', 'watermelon', 'tomatoes', 'cherries', 'bread', 'water', 'cucumber', 'sugar', 'milk', 'juice', 'gums', 'garlic'}
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
x=groceries_needed_set.pop()
print(x)
print("The five items that father will buy:", groceries_needed_set)

yogurt
watermelon
gums
tomatoes
cherries
bread
water
cucumber
deodorant
sugar
milk
flour
The five items that Father will buy: {'juice', 'blueberries', 'onions', 'shampoo', 'garlic'}